# Pandas Tutorial in Python

Pandas is a powerful Python library for data manipulation and analysis. It provides data structures like Series and DataFrame, making it easy to work with structured data.

## Installing and Importing Pandas

In [ ]:
!pip install pandas # installing pandas

In [2]:
import pandas as pd # importing pandas

## Pandas Data Structures

Pandas has two primary data structures:

### 1. Series

A Series is a one-dimensional labeled array capable of holding any data type.

In [3]:
# Creating a Series
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
# Adding an Index
series_with_index = pd.Series(data, index=['A', 'B', 'C', 'D'])
print(series_with_index)

A    10
B    20
C    30
D    40
dtype: int64

In [5]:
# Accessing Elements

print(series_with_index['A'])  # Access value at index 'A'
print(series_with_index[0])    # Access first value

10
10

C:\Users\Fanuel\AppData\Local\Temp\ipykernel_22512\2573868959.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series_with_index[0])    # Access first value

### 2. DataFrame

A DataFrame is a table similar to an Excel spreadsheet

In [8]:
# Creating a DataFrame from a Dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['Nairobi', 'Mombasa', 'Kisumu']
}

df = pd.DataFrame(data)
print(df)

      Name  Age     City
0    Alice   25  Nairobi
1      Bob   30  Mombasa
2  Charlie   35   Kisumu

## Reading & Writing Data

In [ ]:
# Reading Data
df = pd.read_csv('data.csv')       # Read CSV file
df = pd.read_excel('data.xlsx')    # Read Excel file
df = pd.read_json('data.json')     # Read JSON file
df = pd.read_sql(query, conn)      # Read SQL database

In [ ]:
# Writing Data

df.to_csv('output.csv', index=False)   # Save as CSV
df.to_excel('output.xlsx', index=False)  # Save as Excel
df.to_json('output.json')  # Save as JSON

## Data Exploration

In [ ]:
# Checking the First/Last Rows
print(df.head())  # First 5 rows
print(df.tail(3)) # Last 3 rows

In [ ]:
# Getting Basic Info
print(df.info())  # Summary of DataFrame
print(df.describe())  # Statistics summary (numerical columns)
print(df.shape)  # Rows and columns count
print(df.columns)  # List column names
print(df.dtypes)  # Data types of each column

## Selecting & Filtering Data

In [9]:
# Selecting Columns
print(df['Name'])   # Single column
print(df[['Name', 'Age']])  # Multiple columns

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [10]:
# Selecting Rows
print(df.loc[0])   # Select row by index label
print(df.iloc[1])  # Select row by integer position

Name      Alice
Age          25
City    Nairobi
Name: 0, dtype: object
Name        Bob
Age          30
City    Mombasa
Name: 1, dtype: object

## Filtering Rows

In [11]:
print(df[df['Age'] > 25])  # Filter where Age > 25
print(df[(df['Age'] > 25) & (df['City'] == 'Nairobi')])  # Multiple conditions

      Name  Age     City
1      Bob   30  Mombasa
2  Charlie   35   Kisumu
Empty DataFrame
Columns: [Name, Age, City]
Index: []

## Modifying Data

In [12]:
# Adding a New Column

df['Salary'] = [50000, 60000, 70000]
print(df)

      Name  Age     City  Salary
0    Alice   25  Nairobi   50000
1      Bob   30  Mombasa   60000
2  Charlie   35   Kisumu   70000

In [13]:
# Updating Column Values
df['Age'] = df['Age'] + 1  # Increment Age by 1
print(df)

      Name  Age     City  Salary
0    Alice   26  Nairobi   50000
1      Bob   31  Mombasa   60000
2  Charlie   36   Kisumu   70000

In [14]:
# Renaming Columns
df.rename(columns={'Name': 'Full Name'}, inplace=True)
print(df)

  Full Name  Age     City  Salary
0     Alice   26  Nairobi   50000
1       Bob   31  Mombasa   60000
2   Charlie   36   Kisumu   70000

In [15]:
# Dropping Columns & Rows
df.drop(columns=['Salary'], inplace=True)  # Drop a column
df.drop(index=1, inplace=True)

# Exercises

## Create DataFrame

Import Pandas and create a sample DataFrame

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Employee_ID': [101, 102, 103, 104, 105, 106],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'Department': ['HR', 'IT', 'IT', 'Finance', 'HR', 'Finance'],
    'Age': [25, 30, 35, 40, 29, 45],
    'Salary': [50000, 60000, 70000, 80000, 55000, 90000],
    'Years_Experience': [2, 5, 7, 10, 3, 15]
}

df = pd.DataFrame(data)
print(df)

## Exercise 1

- Display the first 3 rows of the dataset.
- Show the column names of the DataFrame.
- Find the number of rows and columns in the dataset.
- Check the data types of each column.
- Get summary statistics of the numerical columns.

In [ ]:
print("\n1. First 3 rows:\n", df.head(3))
print("\n2. Column names:\n", df.columns)
print("\n3. Number of rows and columns:\n", df.shape)
print("\n4. Data types:\n", df.dtypes)
print("\n5. Summary statistics:\n", df.describe())

## Exercise 2

- Select and display only the "Name" and "Department" columns.
- Retrieve all employees who work in the "IT" department.
- Select employees whose salary is greater than 70,000.
- Extract the name and age of employees who have more than 5 years of experience.
- Retrieve employees who belong to either the "HR" or "Finance" department.

In [ ]:
print("\n6. Selected columns (Name, Department):\n", df[['Name', 'Department']])
print("\n7. Employees in IT department:\n", df[df['Department'] == 'IT'])
print("\n8. Employees with Salary > 70000:\n", df[df['Salary'] > 70000])
print("\n9. Employees with Experience > 5 Years:\n", df[df['Years_Experience'] > 5][['Name', 'Age']])
print("\n10. Employees in HR or Finance:\n", df[df['Department'].isin(['HR', 'Finance'])])

## Exercise 3

- Retrieve all employees whose age is between 30 and 40 (inclusive).
- Find employees with more than 5 years of experience and a salary above 60,000.
- Get employees whose names start with "A" or "D".
- Retrieve all employees whose salary is either 55,000 or 90,000.
- Select employees who are not in the "IT" department.

In [ ]:
print("\n11. Employees aged 30-40:\n", df[(df['Age'] >= 30) & (df['Age'] <= 40)])
print("\n12. Employees with Experience >5 years & Salary >60000:\n", df[(df['Years_Experience'] > 5) & (df['Salary'] > 60000)])
print("\n13. Employees with Name starting with A or D:\n", df[df['Name'].str.startswith(('A', 'D'))])
print("\n14. Employees with Salary of 55000 or 90000:\n", df[df['Salary'].isin([55000, 90000])])
print("\n15. Employees not in IT department:\n", df[df['Department'] != 'IT'])

## Exercise 4

- Create a new column "Bonus", which is 10% of the Salary.
- Increase the salary of all employees by 5%.
- Rename the column "Years_Experience" to "Experience_Years".
- Remove the column "Employee_ID" from the DataFrame.
- Drop employees whose age is greater than 40.

In [ ]:
df['Bonus'] = df['Salary'] * 0.10  # 1. Create Bonus column
df['Salary'] = df['Salary'] * 1.05  # 2. Increase salary by 5%
df.rename(columns={'Years_Experience': 'Experience_Years'}, inplace=True)  # 3. Rename column
df_without_id = df.drop(columns=['Employee_ID'])  # 4. Remove Employee_ID column
df_filtered = df[df['Age'] <= 40]  # 5. Drop employees with age > 40

print("\n16. DataFrame with Bonus Column:\n", df)
print("\n17. DataFrame Without Employee_ID:\n", df_without_id)
print("\n18. DataFrame with Age <= 40:\n", df_filtered)